*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/
Tripoli/.nb-gradle/

# Maven
target/

# Netbeans
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
nbproject/
.nb-gradle/
.nb-gradle-properties
private/


# IntelliJ
.idea/
*.iml
!.idea/gradle.xml

# Generated
*.txt
*.html
*.xml
*.csv
test_*
*.ser
*.zip
*.trip
*.xls
*.pdf
*.png
*.svg



# Resources
!TripoliApp/src/main/resources/org/cirdles/tripoli/gui/images/*.png
!TripoliCore/src/main/resources/org/cirdles/tripoli/docs/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/version.txt
!ProcessDocs/MeetingNotes/*
!ProductDocs/RequirementsNotes/*
!Website/*

# Testing resources

!gradle/wrapper/gradle-wrapper.jar


# MACOS
.DS_Store
# WINOS
Thumbs.db