*.class

# local helpers
run
run.sh

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/
Tripoli/.nb-gradle/

# Maven
target/

# Netbeans
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
nbproject/
.nb-gradle/
.nb-gradle-properties
private/


# IntelliJ
.idea/
*.iml
!.idea/gradle.xml

# Generated
*.txt
*.html
*.xml
*.csv
test_*
*.ser
*.zip
*.trip
*.xls
*.pdf
*.png
*.svg
TripoliResources/
*.TIMSAM

META-INF/

# Resources
!TripoliApp/src/main/resources/org/cirdles/tripoli/gui/css/*.css
!TripoliApp/src/main/resources/org/cirdles/tripoli/gui/images/*.png

!TripoliCore/src/main/resources/org/cirdles/tripoli/version.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/docs/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/elements/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/elements/*.csv
!TripoliCore/src/main/resources/org/cirdles/tripoli/species/nuclides/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/species/nuclides/*.csv
!TripoliCore/src/main/resources/org/cirdles/tripoli/parameterModels/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/parameterModels/physicalConstantsModels/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/parameterModels/referenceMaterialsModels/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/parameterModels/tracerModels/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/schema/*.txt

!TripoliCore/src/test/resources/org/cirdles/tripoli/core/kron_matrix_A.txt
!TripoliCore/src/test/resources/org/cirdles/tripoli/core/kron_matrix_B.txt
!TripoliCore/src/test/resources/org/cirdles/tripoli/core/kron_answers.txt
!TripoliCore/src/test/resources/org/cirdles/tripoli/core/exp_matrix_A.txt
!TripoliCore/src/test/resources/org/cirdles/tripoli/core/exp_answers.txt

# data files
!TripoliCore/src/main/resources/org/cirdles/tripoli/dataSourceProcessors/dataSources/synthetic/twoIsotopeSyntheticData/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/dataSourceProcessors/dataSources/testDataFiles/*.txt
!TripoliCore/src/main/resources/org/cirdles/tripoli/dataSourceProcessors/dataSources/peakShapes/*.txt

# Developer docs
!processDocs/meetingNotes/*
!productDocs/dataFormatDocs/*
!productDocs/requirements/*
!productDocs/testDesign/*
!productDocs/uxDesign/*

# webpage via pages
!docsOrig/*

# Testing resources

!gradle/wrapper/gradle-wrapper.jar


# MACOS
.DS_Store
# WINOS
Thumbs.db