.root {
    -fx-font-family: 'Inter', sans-serif;
}

.menu-bar {
    -fx-background-color:LINEN;
}

.list-view-container {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}
.list-view-container VBox {
    -fx-background-color:LINEN;
}
.list-view-content {
    -fx-font-weight: normal;
}

.category-text-field {
    -fx-font-weight: bold;
    -fx-background-color: #FFDDC1;
}